@{
    Layout=null;
}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Events</title>
    <link rel="stylesheet" href="/css/Events.css">
        <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
        <script src="/js/hack.js"></script>

<header>
    <nav class="navbar">
         <img onclick="openHome()" src="/Images/Hack_logo.png" alt="" class="logo">
        <ul class="nav-links">
            <li onclick="openHome()">Home</li>
            <li onclick="openAbout()">About</li>
            <li onclick="openProjects()">Projects</li>
            <li onclick="openEvents()">Events</li>
            <li onclick="openContact()">Contact</li>
        </ul>
        <div>
        <button onclick="openJoin_Us()" class="btn">Join Us</button>
        <button onclick="openlogin()" class="btn1">Log in</button>
        </div>
    </nav>
</header>

<section class="events">

    <div class="container">

        <!-- Left Side -->
        <div class="left">

            <span class="section-tag">OUR EVENTS</span>

            <h2>
                Events That Inspire <br>
                <span>Innovation.</span>
            </h2>

            <p>
                Join our hands-on workshops, exciting competitions,
                and tech talks to learn, build and grow together.
            </p>


            <!-- Featured Event -->
            <div class="featured-event">

                <div class="featured-header">
                    <span>Newest Event</span>
                </div>

                <div class="featured-content">

                    <div class="date-box">
                        <h2>16</h2>
                        <span>June</span>
                    </div>

                    <div class="event-details">

                        <h4>PCB Design Workshop</h4>

                        <p>
                            Learn PCB designing from scratch and bring
                            your ideas to life.
                        </p>

                        <div class="event-info">
                            <span>
                                <i class="fa-solid fa-location-dot"></i>
                                CSE Building
                            </span>

                            <span>
                                <i class="fa-regular fa-clock"></i>
                                5:00 PM - 8:00 PM
                            </span>
                        </div>
                    </div>

                </div>

            </div>

            <!-- Highlights -->

            <h3 class="highlight-title">
                EVENT HIGHLIGHTS
            </h3>

            <div class="stats">

                <div class="card">
                    <div class="circle">
                    <i class="fa-solid fa-users"></i>
                    </div>
                    <h2>20+</h2>
                    <p>Events Organized</p>
                    
                </div>

                <div class="card">
                    <div class="circle">
                    <i class="fa-solid fa-user-group"></i>
                    </div>
                    <h2>1500+</h2>
                    <p>Participants</p>
                </div>

                <div class="card">
                    <div class="circle">
                    <i class="fa-solid fa-trophy"></i>
                    </div>
                    <h2>10+</h2>
                    <p>Competitions</p>
                </div>

                <div class="card">
                    <div class="circle">
                    <i class="fa-solid fa-chalkboard"></i>
                    </div>
                    <h2>25+</h2>
                    <p>Sessions</p>
                </div>

            </div>

        </div>

        <!-- Right Side -->

        <div class="right">

            <h2>UPCOMING EVENTS</h2>

            <div class="event-list">

                <div class="event-item">
                    <div class="date">20<br><span>June</span></div>

                    <div class="content">
                        <h3>IoT with Arduino</h3>
                        <p>Hands-on session on IoT projects</p>
                        <div class="event-info">
                            <span>
                                <i class="fa-solid fa-location-dot"></i>
                                CSE Building
                            </span>

                            <span>
                                <i class="fa-regular fa-clock"></i>
                                5:00 PM - 8:00 PM
                            </span>
                        </div>                    
                    </div>
                </div>

                <div class="event-item">
                    <div class="date">30<br><span>June</span></div>

                    <div class="content">
                        <h3>Robotics Competition</h3>
                        <p>Showcase your robots and win.</p>
                        <div class="event-info">
                            <span>
                                <i class="fa-solid fa-location-dot"></i>
                                CSE Building
                            </span>

                            <span>
                                <i class="fa-regular fa-clock"></i>
                                5:00 PM - 8:00 PM
                            </span>
                        </div>                       
                    </div>
                </div>

                <div class="event-item">
                    <div class="date">06<br><span>July</span></div>

                    <div class="content">
                        <h3>Embedded Systems Workshop</h3>
                        <p>Dive into embedded programming.</p>
                        <div class="event-info">
                            <span>
                                <i class="fa-solid fa-location-dot"></i>
                                CSE Building
                            </span>

                            <span>
                                <i class="fa-regular fa-clock"></i>
                                5:00 PM - 8:00 PM
                            </span>
                        </div>                        
                    </div>
                </div>

                <div class="event-item">
                    <div class="date">28<br><span>July</span></div>

                    <div class="content">
                        <h3>AI & Future</h3>
                        <p>Exploring future technologies.</p>
                        <div class="event-info">
                            <span>
                                <i class="fa-solid fa-location-dot"></i>
                                CSE Building
                            </span>

                            <span>
                                <i class="fa-regular fa-clock"></i>
                                5:00 PM - 8:00 PM
                            </span>
                        </div>                        
                    </div>
                </div>

                <div class="event-item">
                    <div class="date">10<br><span>Aug</span></div>

                    <div class="content">
                        <h3>3D Printing Workshop</h3>
                        <p>Design and print your ideas.</p>
                        <div class="event-info">
                            <span>
                                <i class="fa-solid fa-location-dot"></i>
                                CSE Building
                            </span>

                            <span>
                                <i class="fa-regular fa-clock"></i>
                                5:00 PM - 8:00 PM
                            </span>
                        </div>                        
                    </div>
                </div>

                <div class="event-item">
                    <div class="date">25<br><span>Aug</span></div>

                    <div class="content">
                        <h3>Cyber Security Bootcamp</h3>
                        <p>Learn ethical hacking basics.</p>
                        <div class="event-info">
                            <span>
                                <i class="fa-solid fa-location-dot"></i>
                                CSE Building
                            </span>

                            <span>
                                <i class="fa-regular fa-clock"></i>
                                5:00 PM - 8:00 PM
                            </span>
                        </div>                        
                    </div>
                </div>

            </div>

        </div>

    </div>

</section>

<footer class="footer">

    <div class="footer-container">

        <!-- Logo Section -->
        <div class="footer-col">
            <div class="logo" onclick="openHome()">
               <img src="/Images/Hack_logo.png" alt="" class="logo">
                <div>
                    <h2>HACK</h2>
                </div>
            </div>

            <p>
                Hardware Acceleration Club of KUET (HACK)
            </p>

            <p>
                A community of innovators building the
                future through hardware.
            </p>
        </div>

        <!-- Quick Links -->
        <div class="footer-col">
            <h3>Quick Links</h3>

            <ul>
                 <li><a onclick="openHome()">Home</a></li>
                <li><a onclick="openAbout()">About</a></li>
                <li><a onclick="openProjects()">Projects</a></li>
                <li><a onclick="openEvents()">Events</a></li>
                <li><a onclick="openContact()">Contact</a></li>
            </ul>
        </div>

        <!-- Contact -->
        <div class="footer-col">
            <h3>Connect</h3>

            <div class="contact-item">
                <i class="fa-regular fa-envelope"></i>
                <span>hack@kuet.ac.bd</span>
            </div>

            <div class="contact-item">
                <i class="fa-solid fa-phone"></i>
                <span>+880 1712 345 678</span>
            </div>

            <div class="contact-item">
                <i class="fa-solid fa-location-dot"></i>
                <span>KUET Campus, Khulna-9203, Bangladesh</span>
            </div>
        </div>

        <!-- Social -->
        <div class="footer-col">
            <h3>Follow Us</h3>

            <div class="social-icons">

                <a href="https://www.facebook.com/">
                    <i class="fa-brands fa-facebook-f"></i>
                </a>

                <a href="https://www.linkedin.com/">
                    <i class="fa-brands fa-linkedin-in"></i>
                </a>

                <a href="https://www.instagram.com/">
                    <i class="fa-brands fa-instagram"></i>
                </a>

                <a href="https://www.github.com/">
                    <i class="fa-brands fa-github"></i>
                </a>

            </div>
        </div>

    </div>

    <div class="footer-bottom">
        ©️ 2026 HACK KUET. All rights reserved.
    </div>

</footer>