@{
    Layout = null;
}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HACK KUET</title>
    <link rel="stylesheet" href="/css/Home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"/>
    <script src="/js/hack.js"></script>

<!-- Navbar -->
<div class="bg">
<div class="image_container">
<header>
    <nav class="navbar">
         <img onclick="openHome()" src="/Images/Hack_logo.png" alt="" class="logo">
        <ul class="nav-links">
            <li onclick="openHome()">Home</li>
            <li onclick="openAbout()">About</li>
            <li onclick="openProjects()">Projects</li>
            <li onclick="openEvents()">Events</li>
            <li onclick="openContact()">Contact</li>
        </ul>
        <div>
        <button onclick="openJoin_Us()" class="btn">Join Us</button>
        <button onclick="openlogin()" class="btn1">Log in</button>
        </div>
    </nav>
</header>


<!-- Hero Section -->
<section class="hero">
    <div class="hero-text">
        <h1>INNOVATE<br>BUILD<br><span>ACCELERATE</span></h1>
        <h3 class="test_2">Shaping the Future with <br> <b>Hardware & loT</b> Innovations</h3>
        <p>
            Hardware Acceleration Club of KUET (HACK) is a community of innovators 
            working on hardware, robotics, and IoT solutions.
        </p>

        <div class="buttons">
            <button class="primary">Explore Projects</button>
            <button class="secondary">Learn More</button>
        </div>
    </div>
</section>
</div>
</div>




  <!-- TOP CATEGORY BAR -->
<section class="stats">
    <div class="stat-box">
       <i class="fas fa-microchip"></i>
        <div>
         
            <h3>Hardware Design</h3>
            <p>From the concept to frunctional prototypes</p>
        </div>
    </div>

    <div class="divider"></div>

    <div class="stat-box">
        <i class="fas fa-wifi"></i>

        <div>
          
            <h3>IOT Solutions</h3>
            <p>Connecting devices, creating impact</p>
        </div>
    </div>

    <div class="divider"></div>

    <div class="stat-box">
           <i class="fas fa-code"></i>

        <div>
          
            <h3>Embedded System</h3>
            <p>Smart firmware for smarter world</p>
        </div>
    </div>

    <div class="divider"></div>

    <div class="stat-box">
            <i class="fas fa-robot"></i>

        <div>
          
            <h3>Robotics & Automation</h3>
            <p>Building machine that move the future</p>
        </div>
    </div>

    <div class="divider"></div>
        <div class="stat-box">
            <i class="fas fa-users"></i>

        <div>
          
            <h3>Community & Growth</h3>
            <p>Learn, collaborate and grow together</p>
        </div>
    </div>
</section>




<section class="featured-section">

    <div class="container">

        <!-- LEFT SIDE -->
        <div class="projects-area">

            <div class="section-heading">
                <h2>FEATURED PROJECTS</h2>
                <div class="line"></div>
            </div>

            <div class="project-grid">

                <!-- Card 1 -->
                <div class="project-card">
                    <img src="images/drone.jpg" alt="">

                    <div class="card-content">
                        <h3>Autonomous Surveillance Drone</h3>
                        <div class="card-footer">
                            <span>Robotics • AI</span>
                            <i class="fa-solid fa-arrow-right"></i>
                        </div>
                    </div>
                </div>

                <!-- Card 2 -->
                <div class="project-card">
                    <img src="images/agriculture.jpg" alt="">

                    <div class="card-content">
                        <h3>Smart Agriculture Monitoring System</h3>

                        <div class="card-footer">
                            <span>IoT • Sensors</span>
                            <i class="fa-solid fa-arrow-right"></i>
                        </div>
                    </div>
                </div>

                <!-- Card 3 -->
                <div class="project-card">
                    <img src="images/robotic-arm.jpg" alt="">

                    <div class="card-content">
                        <h3>IoT Based Robotic Arm</h3>

                        <div class="card-footer">
                            <span>Embedded • Control</span>
                            <i class="fa-solid fa-arrow-right"></i>
                        </div>
                    </div>
                </div>

                <!-- Card 4 -->
                <div class="project-card">
                    <img src="images/meter.jpg" alt="">

                    <div class="card-content">
                        <h3>Smart Energy Meter</h3>

                        <div class="card-footer">
                            <span>Hardware • IoT</span>
                            <i class="fa-solid fa-arrow-right"></i>
                        </div>
                    </div>
                </div>

                <!-- Card 5 -->
                <div class="project-card">
                    <img src="images/line-follower.jpg" alt="">

                    <div class="card-content">
                        <h3>Line Following Robot</h3>

                        <div class="card-footer">
                            <span>Robotics • Automation</span>
                            <i class="fa-solid fa-arrow-right"></i>
                        </div>
                    </div>
                </div>

            </div>

        </div>

        <!-- RIGHT SIDE -->

        <div class="events-area">

            <div class="section-heading">
                <span class="dot"></span>
                <h2>UPCOMING EVENTS</h2>
                <div class="line"></div>
            </div>

            <div class="event-list">

                <div class="event-item">

                    <div class="date-box">
                        <h3>16</h3>
                        <span>June</span>
                    </div>

                    <div class="event-info">
                        <h4>PCB Design Workshop</h4>
                        <p>CSE Building</p>
                    </div>

                </div>

                <div class="event-item">

                    <div class="date-box">
                        <h3>20</h3>
                        <span>June</span>
                    </div>

                    <div class="event-info">
                        <h4>IoT with Arduino </h4>
                        <p>CSE building</p>
                    </div>

                </div>

                <div class="event-item">

                    <div class="date-box">
                        <h3>30</h3>
                        <span>June</span>
                    </div>

                    <div class="event-info">
                        <h4>Robotics Competition</h4>
                        <p>CSE building</p>
                    </div>

                </div>

                   <div class="event-item">

                    <div class="date-box">
                        <h3>06</h3>
                        <span>July</span>
                    </div>

                    <div class="event-info">
                        <h4>Embedded Systems Workshop</h4>
                        <p>CSE building</p>
                    </div>

                </div>

            </div>

            <a href="#" class="see-events">
                See All Events
                <i class="fa-solid fa-arrow-right"></i>
            </a>

        </div>

    </div>

</section>

<footer class="footer">

    <div class="footer-container">

        <!-- Logo Section -->
        <div class="footer-col">
            <div class="logo">
               <img src="/Images/Hack_logo.png" alt="" class="logo">
                <div>
                    <h2>HACK</h2>
                </div>
            </div>

            <p>
                Hardware Acceleration Club of KUET (HACK)
            </p>

            <p>
                A community of innovators building the
                future through hardware.
            </p>
        </div>

        <!-- Quick Links -->
        <div class="footer-col">
            <h3>Quick Links</h3>

            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Projects</a></li>
                <li><a href="#">Events</a></li>
                <li><a href="#">Team</a></li>
            </ul>
        </div>

        <!-- Contact -->
        <div class="footer-col">
            <h3>Connect</h3>

            <div class="contact-item">
                <i class="fa-regular fa-envelope"></i>
                <span>hack@kuet.ac.bd</span>
            </div>

            <div class="contact-item">
                <i class="fa-solid fa-phone"></i>
                <span>+880 1712 345 678</span>
            </div>

            <div class="contact-item">
                <i class="fa-solid fa-location-dot"></i>
                <span>KUET Campus, Khulna-9203, Bangladesh</span>
            </div>
        </div>

        <!-- Social -->
        <div class="footer-col">
            <h3>Follow Us</h3>

            <div class="social-icons">

                <a href="#">
                    <i class="fa-brands fa-facebook-f"></i>
                </a>

                <a href="#">
                    <i class="fa-brands fa-linkedin-in"></i>
                </a>

                <a href="#">
                    <i class="fa-brands fa-instagram"></i>
                </a>

                <a href="#">
                    <i class="fa-brands fa-github"></i>
                </a>

            </div>
        </div>

    </div>

    <div class="footer-bottom">
        © 2026 HACK KUET. All rights reserved.
    </div>

</footer>

