* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #0b0f1a; 

    color: white;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    align-items: center;
}

.logo{
    width: 5vw;       
    min-width: 60px;  
    max-width: 80px;  
    height: auto;
}

.nav-links {
    display: flex;
    gap: 25px;
    list-style: none;
}

.nav-links li {
    cursor: pointer;
    transition: 0.3s;
}

.nav-links li:hover {
    color: #00c6ff;
}

.btn {
    background: transparent;
    border:1px solid #00c6ff;
    color: #00c6ff;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
}
.btn1 {
    background: transparent;
    border:1px solid #00c6ff;
    color: #00c6ff;
    padding: 10px 15px 10px 15px;
    border-radius: 8px;
    cursor: pointer;
}


.contact-section{
    min-height:90vh;
    padding:10px 5%;

    background:
    radial-gradient(circle at center,
    rgba(0,150,255,.15),
    transparent 50%),
    #020817;
}

.contact-container{
    max-width:1400px;
    margin:auto;

    display:grid;
    grid-template-columns: 1fr 1.3fr;
    gap:60px;
}

/* LEFT SIDE */

.subtitle{
    color:#00cfff;
}

.contact-info h3{
    margin-top:15px;
    font-size:2.5rem;
    line-height:1.2;
    color:white;
}

.contact-info h1 span{
    color:#00cfff;
}

.description{
    margin-top:25px;
    color:#b8c7d9;
    font-size:1rem;
    line-height:1.2;
}

.info{
    margin-top: 4vh;
}

.info-box{
    display:flex;
    gap:20px;
    align-items:flex-start;

    padding:10px 0;
    border-bottom:1px solid rgba(255,255,255,.08);
}

.info-box i{
    width:6vh;
    height:6vh;

   

    display:flex;
    align-items:center;
    justify-content:center;

    border-radius:50%;
    border:1px solid rgba(0,207,255,.3);

    color:#00cfff;
    font-size:24px;
}
.icon i{
    font-size:2vh;
}

.info-box h4{
    color:white;
    margin-bottom:5px;
}

.info-box p{
    color:#b8c7d9;
    line-height:1.2;
}

.social{
    margin-top:30px;
}

.social h4{
    color:white;
    margin-bottom:20px;
}

.social-icons{
    display:flex;
    gap:15px;
}

.social-icons a{
    width:50px;
    height:50px;

    display:flex;
    align-items:center;
    justify-content:center;

    border-radius:50%;
    border:1px solid rgba(0,207,255,.3);

    color:#00cfff;
    text-decoration:none;

    transition:.3s;
}

.social-icons a:hover{
    background:#00cfff;
    color:#000;
}

/* RIGHT SIDE */

.contact-form{
    padding:40px;

    border-radius:25px;

    background:
    linear-gradient(
        135deg,
        rgba(9,20,40,.95),
        rgba(4,10,25,.95)
    );

    border:1px solid rgba(0,207,255,.15);

    box-shadow:
    0 0 30px rgba(0,207,255,.08);
}

.form-header{
    display:flex;
    align-items:center;
    gap:20px;
    margin-bottom:35px;
}

.form-icon{
    width:75px;
    height:75px;

    display:flex;
    align-items:center;
    justify-content:center;

    border-radius:20px;

    background:rgba(0,207,255,.08);
}

.form-icon i{
    color:#00cfff;
    font-size:32px;
}

.form-header h2{
    color:white;
    margin-bottom:8px;
}

.form-header p{
    color:#b8c7d9;
}

.row{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:20px;
}

.contact-form input,
.contact-form textarea{
    width:100%;
    padding:18px 20px;
    margin-bottom:20px;

    background:rgba(255,255,255,.03);

    border:1px solid rgba(0,207,255,.15);
    border-radius:12px;

    color:white;
    outline:none;
}

.contact-form textarea{
    resize:none;
}

.contact-form input:focus,
.contact-form textarea:focus{
    border-color:#00cfff;
}

.contact-form button{
    border:none;
    cursor:pointer;

    padding:16px 35px;
    border-radius:12px;

    color:white;
    font-size:1rem;
    font-weight:600;

    background:
    linear-gradient(
        135deg,
        #00cfff,
        #007bff
    );

    transition:.3s;
}

.contact-form button:hover{
    transform:translateY(-3px);
}


.footer{
    background:
        radial-gradient(circle at center,
        rgba(0,180,255,.08),
        transparent 60%),
        #020817;

    color:#fff;
    padding-top:20px;
}

.footer-container{
    width:90%;
    max-width:1400px;
    margin:auto;

    display:grid;
    grid-template-columns:
        1.5fr
        1fr
        1.3fr
        1fr;

    gap:60px;
}

/* Logo */

.logo{
    display:flex;
    align-items:center;
    gap:15px;
    margin-bottom:20px;
}

.logo i{
    font-size:48px;
    color:#00cfff;
}

.logo h2{
    font-size:2rem;
    letter-spacing:4px;
}


.footer-col p{
    color:#aeb8c5;
    line-height:1.5;
}

/* Headings */

.footer-col h3{
    margin-bottom:20px;
    font-size:1.2rem;
}

/* Links */

.footer-col ul{
    list-style:none;
}

.footer-col ul li{
    margin-bottom:15px;
}

.footer-col ul li a{
    color:#aeb8c5;
    text-decoration:none;
    transition:.3s;
}

.footer-col ul li a:hover{
    color:#00cfff;
}

/* Contact */

.contact-item{
    display:flex;
    align-items:flex-start;
    gap:15px;
    margin-bottom:20px;
}

.contact-item i{
    color:#00cfff;
    margin-top:4px;
}

.contact-item span{
    color:#aeb8c5;
    line-height:1.6;
}

/* Social */

.social-icons{
    display:flex;
    gap:15px;
}

.social-icons a{
    width:50px;
    height:50px;

    display:flex;
    justify-content:center;
    align-items:center;

    border-radius:50%;
    border:1px solid rgba(0,207,255,.35);

    color:#00cfff;
    text-decoration:none;

    transition:.3s;
}

.social-icons a:hover{
    background:#00cfff;
    color:#020817;
    transform:translateY(-3px);
}

/* Bottom */

.footer-bottom{
    margin-top:50px;
    padding:25px 0;

    text-align:center;

    color:#aeb8c5;

    border-top:
        1px solid rgba(255,255,255,.08);
}